html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
    background: url("../assets/bg.jpg") no-repeat center center fixed;
    background-size: cover;
    --theme: dodgerblue;
    --color: #a52a2a;
    --text-gradient: linear-gradient(90deg, #ec2f4b, #009fff);
    color: var(--color);
    accent-color: var(--theme);
}

.ripple {
    overflow: hidden !important;
    position: relative;

    &::before {
        $seconds: 0.25s;
        content: "";
        position: absolute;
        top: var(--y);
        left: var(--x);
        transform: translate(-50%, -50%);
        border-radius: 50%;
        width: 0;
        height: 0;
        background: rgba($color: #ffffff, $alpha: 0.2);
        z-index: -1;
        transition: width $seconds ease-out, height $seconds ease-out;
    }

    &:hover::before {
        width: var(--size);
        height: var(--size);
    }

    &.ripple-effect::after {
        content: "";
        position: absolute;
        top: var(--y);
        left: var(--x);
        transform: translate(-50%, -50%);
        width: 0;
        height: 0;
        border-radius: 50%;
        background: rgba($color: #ffffff, $alpha: 0.5);
        animation: ripple 500ms linear 0s 1 forwards;

        @keyframes ripple {
            0% {
                width: 0;
                height: 0;
                opacity: 1;
            }

            50% {
                width: var(--size);
                height: var(--size);
                opacity: 0.5;
            }

            100% {
                width: var(--size);
                height: var(--size);
                opacity: 0;
            }
        }
    }
}

button {
    cursor: pointer;
    background: none;
    color: inherit;
    border: none;
    user-select: none;
}

a {
    text-decoration: none;
    color: inherit;
}

::selection {
    background: lightseagreen;
    color: white;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-thumb {
    background: linear-gradient(0deg, #ec2f4b, #009fff);
    border-radius: 50px;
}

pre {
    font-size: 1.3rem;
    font-family: inherit;
}
