.playing {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    h1 {
        font-size: max(3vw, 20px);
    }
}

.lyrics {
    text-align: center;
    font-size: 1.3rem;
    font-family: inherit;
    overflow-y: auto;
    height: calc(100% - 50px);
}

.mySwiperContainer {
    width: 100%;
    height: 100%;
}

.mySwiperThumb {
    text-align: center;
    font-size: 0.8rem;
    transition: 0.3s;
    cursor: pointer;

    [class~="swiper-slide-active"] {
        font-weight: bold;
        font-size: 1.2rem;
    }
}
