.main-body {
    $width: calc(100vw - 200px);
    $height: calc(100vh - 100px);
    position: fixed;
    right: 0;
    top: 0;
    width: $width;
    height: $height;
    overflow-y: auto;
    // background: rgba(0, 0, 0, 40%);
    // backdrop-filter: blur(10px);
    transition: 0.6s cubic-bezier(0.16, 1, 0.3, 1);

    &.shrink {
        width: calc(100vw - 67px);
    }

    .topNav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        h1 {
            text-align: center;
            font-size: 1.3rem;
        }

        svg {
            cursor: pointer;
        }
    }
}

@media (max-width: 687px) {
    .main-body {
        width: 100vw !important;
        height: calc(100vh - 180px);
    }
}
