.playlists {
    position: relative;
    width: calc(100% - 41px);
    height: calc(100% - 75px);
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 10px 20px;

    .playlist {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: 150px;
        min-height: 150px;
        background: rgba(255, 255, 255, 30%);
        backdrop-filter: blur(10px);
        border-radius: 10px;
        margin: 10px;
        padding: 10px 20px;
        cursor: none;

        .image {
            width: 130px;
            height: 130px;
            display: grid;
            grid-template-columns: repeat(2, 1fr);

            span {
                width: 10px;
            }
        }

        .playlist-title {
            font-size: 1.2rem;
            word-break: break-all;
        }

        .playlist-description {
            font-size: 0.9rem;
        }

        .playCursor {
            position: absolute;
            top: var(--y);
            left: var(--x);
            transform: translate(-50%, -50%) scale(0);
            opacity: 0;
            transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
        }

        &:hover {
            .playCursor {
                opacity: 1;
                transform: translate(-50%, -50%) scale(1);
            }
        }
    }
}
